.navtitle {
	text-decoration: none;
	display: block;
	line-height: 4rem;
	padding: 0 0.5rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: var(--text-size);
}

.navitem li {
}

.dropdown-menu {
	background-color: var(--neutral);
	position: fixed;
	display: flex;
}

.dropdown-pc {
	left: 0;
	top: 4rem;
	padding: 0 4rem;
	height: 4rem;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	border-right: 0;
	width: 100vw;
}

.dropdown-mobile {
	left: 8rem;
	top: 4rem;
	height: 100vh;
	flex-direction: column;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 0;
	width: 8rem;
}

.sublink {
	line-height: 4rem;
	padding: 0 0.5rem;
	color: var(--main);
	text-decoration: none;
	font-size: var(--text-size);
}

.sublink:hover {
	text-decoration: underline;
}
